<app-header></app-header>
<!--class="container-fluid m-5 p-5 ml-0 mr-0 pl-0 pr-0"-->
<div class="container-fluid m-5 p-5 ml-0 mr-0 pl-0 pr-0" >
  <div class="row">
    <div class="col-2 text-dark w-100 h-100">
      <div>
        <h3>Choose file to visualize</h3>
      </div>
      <div class="my-3">
        <app-upload-form></app-upload-form>
      </div>
      <div class="my-2">
        <app-upload-list></app-upload-list>
      </div>
    </div>
    <div class="col-10">
      <google-maps-demo></google-maps-demo>
    </div>
  </div> <!-- end row -->
</div>
<app-footer></app-footer>
